# Ignore the top-level config folder
/config/

# Ignore the framework folder
/framework/

# Ignore node_modules
/node_modules/
/providers/mongodb-provider/node_modules/

# Ignore test
/providers/mongodb-provider/test/

# Ignore app-level src
/src

# Ignore specific JSON files
/cdconfig.json
/package.json
/package-lock.json
/providers/mongodb-provider/config/default.json
/providers/mongodb-provider/package.json
/providers/mongodb-provider/package-lock.json
/providers/mongodb-provider/cdconfig.json

# Ignore cdpks
*.cdpk