# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
pids
logs
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Environment variables
.env*

.vscode

# ignore cdpk files for deployment 
*.cdpk

# ignore large tmp duckdb files
.tmp

# ignore provider config with secrets
providers/*/src/config/default.json

# ignore boiler plate from koop 
/config 
/data
/src
/framework
/cdconfig.json
/package.json
/package-lock.json

# ignore elastic demo data
wildfires.json

*.duckdb

backup.json